/*

Black Searchable DropDown 
Author: Shafikul Islam
shafikul233anik@gmail.com

Open Source

*/

                select[size='8'] {
                    position: absolute;
                    z-index: 999;
                    width: 96%;
                    max-width: 220px;
                }

                    select[size='8'] option {
                        padding: 2px;
                        cursor: pointer;
                    }

                        select[size='8'] option:hover {
                            background: #dfdfdf;
                        }


                .targetList {
                    position: absolute;
                    left: 0;
                    top: auto;
                    z-index: 200;
                    background: #fff;
                    height: initial;
                    max-height: 250px;
                    overflow: auto;
                }

                .targetList li{
                    list-style: none;
                }

                .targetList.s {
                    z-index: 300;
                }

                .multiSearchBox {
                    border: none;
                    padding-left: 0;
                }
                .selectedSingle {
                    background: #ededed;
                    position: relative !important;
                    color: black !important;
                    padding: 2px;
                    padding-left: 5px;
                    margin: 2px !important;
                    border: 1px solid #999;
                }
                .mSB {
                    background: transparent;
                    color: #333 !important;
                    border: none;
                    box-shadow: none;
                    margin-right: 0; 
                }
				/*

Black Searchable DropDown 
Author: Shafikul Islam
shafikul233anik@gmail.com

Open Source

*/
