<!--

Black Searchable DropDown 
Author: Shafikul Islam
shafikul233anik@gmail.com

Open Source
-->
<!-- for multiple = multiselect -->

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<select size="1" id="colorDropDownList" class="form-control has-feedback-left searchable">
	<option value="0">Color</option>
	<option value="1">Black</option>
	<option value="2">White</option>
	<option value="3">Blue</option>
	<option value="4">Red</option>
	<option value="5">Pink</option>
</select>

<script src="jquery.min.js"></script>
<script src="blackSearchableDropDown.js"></script>
<!--

Black Searchable DropDown 
Author: Shafikul Islam
shafikul233anik@gmail.com

Open Source

-->