.dropdown.user.user-menu {
    margin-top: 8px;
}

.a.pull-left {
    margin-right: 14px;
}
.content {
    min-height: 250px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    
}

/*.content-wrapper {*/
    /*background-image: url(images/pic1.jpeg);*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
/*}*/

/*body {*/
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    /*font-size: 14px;*/
    /*line-height: 1.42857143;*/
    /*color: #333;*/
    /*background-color: #ecf0f5!important;*/
/*}*/