.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown-menu li a{
    font-size: 12px!important;

}
.dropdown-menu > li > a {
    color: #000;
}
/*.dropdown-menu.multi-level {*/
    /*font-size: 12px;*/
/*}*/


/*===========End Menu Nav======*/
/*===========Start content wrapper======*/


/*.content-wrapper {*/
    /*margin-left: 0px!important;*/
/*}*/

body {
    padding-top: 50px;
}

.full-wrapper {
    margin-left: -230px;
}

.content-wrapper {
min-height: 566px;
}

hr {
    display: inline-block;
   width: 99%;

    background-color: #fff; height: 1px; border: 0;
}

/*===========Start form wrapper======*/
.form-box {
    box-sizing: border-box;
    background: gainsboro;
    padding: 25px;
    margin-left: 160px;
}

.form-box6 {
    box-sizing: border-box;
    background: gainsboro;
    padding: 32px;

}
#example1 {
    background: gainsboro;
}

/*.main-footer {*/
    /*padding: 15px;*/
    /*color: #444;*/
    /*border-top: 1px solid #d2d6de;*/
    /*background:#607D8B;*/
/*}*/

.box {
    position: relative;
    border-radius: 3px;
    background: #95a5a6;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}


/*============line===========*/
.line{
    width: 70%;
    margin: .7em auto;
    overflow: hidden;
    text-align: center;
    font-weight:300;
    color: #000;
}
.line:before, .line:after {
    content: "";
    display: inline-block;
    width: 50%;
    margin: 0 .5em 0 -55%;
    vertical-align: middle;
    border-bottom: 1px solid;
}
.line:after {
    margin: 0 -55% 0 .5em;
}